.App {
  text-align: center;
}

.App nav{
  margin-bottom: 60px;
}

.App .header{
  font-size: 50px;
  margin-bottom: 20px;
}

.App nav a{
    font-size: 20px;
    margin: 30px;
    text-decoration: none;
    color: black;
}

.App footer{
  margin-top: 600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
